/* You can add global styles to this file, and also import other style files */

// Define color variables
$primary-color: #80629b;    
$secondary-color: #360167; 
$background-color-dark: #723fa2;
$background-color-light: #D8BFD8; 
